<div class="flex flex-1 min-h-screen flex-col pt-2 pb-2 justify-center items-center bg-gray-200 bg-custom">
    <app-shopping class="md:w-1/2 w-full"></app-shopping>
    <footer class="flex justify-center items-center w-full bg-gray-800 fixed bottom-0 text-white text-xs">Made with <svg class="text-red-600" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
      </svg><a href="https://github.com/EndersonPro" target="_blank"> by EndersonPro </a> </footer>
</div>
